@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

// VARIABLES
$body-bg: fafafa;
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$border: hsl(0, 0%, 94%);

$mobile-breakpoint: 375px;
$tablet-breakpoint: 600px;
$desktop-breakpoint: 1440px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Commissioner", sans-serif;
  background-color: $body-bg;
}

// <!-- HERO SECTION -->

.mobile-menu {
  display: none;
}

.hero-section {
  width: 100vw;
  height: 400px;
  background: url("../images/image-hero-desktop.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: -210px;
  z-index: -1;

  .nav-section {
    display: flex;
    align-items: center;
    padding-top: 20px;

    .logo {
      margin-left: 150px;
      height: 20px;
      width: 100%;
      background-image: url("../images/logo.svg");
      background-repeat: no-repeat;
    }

    .desktop-menu {
      white-space: nowrap;
      padding-right: 100px;
      ul {
        display: flex;

        text-decoration: none;
        list-style: none;

        li {
          margin: 10px;
          color: white;
        }
      }

      a {
        color: white;
        text-decoration: none;
      }

      a:visited {
        color: white;
      }
    }
  }
}

// <!-- TOP SECTION -->

.top-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: 1px solid $border;
  padding: 10px;
  margin-top: 140px;

  .top-img {
    position: absolute;
    top: -30px;
    height: 60px;
    width: 60px;
    background-image: url("../images/logo-mastercraft.svg");
    background-size: cover;
  }

  h3 {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 50px;
  }

  p {
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $dark-cyan;
  }

  .btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;

    .back-btn {
      cursor: pointer;
      border-style: none;
      border-radius: 25px;
      font-size: 0.8rem;
      background-color: $dark-cyan;
      color: white;
      margin-left: 40px;
      padding: 16px 30px;
    }
    .book-btn {
      cursor: pointer;
      font-size: 0.8rem;
      border-style: none;
      padding: 16px 35px 16px 55px;
      background-color: $border;
      color: $dark-gray;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../images/icon-bookmark.svg");
      border-radius: 25px;
      margin-right: 40px;
    }
  }
}

// <!-- FUNDS SECTION -->

.funds-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: white;
  border: 1px solid $border;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;

  .columns-container {
    width: 90%;
    display: flex;

    .column {
      text-align: center;
      margin: 2px;
      flex: 1;
    }

    .middle {
      border-left: 1px solid $border;
      border-right: 1px solid $border;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 1.6rem;
    }

    p {
      color: $dark-cyan;
      font-size: 0.75rem;
    }
  }
  .progress-container {
    width: 90%;
    height: 15px;
    background-color: aqua;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: $border;

    .progress-bar {
      width: 79%;
      height: 15px;
      background-color: yellow;
      border-radius: 10px;
      background-color: $moderate-cyan;
    }
  }
}

// <!-- ABOUT SECTION -->

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  background-color: white;
  border: 1px solid $border;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;

  .about-section {
    padding: 15px;
    text-align: justify;
    line-height: 1.7;

    h4 {
      margin-top: 15px;
      margin-bottom: 30px;
      font-size: 1.3rem;
    }

    p {
      color: $dark-cyan;
    }

    p:last-child {
      padding-top: 20px;
    }
  }

  .reward {
    border: 1px solid $border;
    border-radius: 8px;
    margin: 15px;
    padding: 20px;

    .reward-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;

      h4 {
        font-size: 1.2rem;
      }

      p {
        margin-right: 5px;
        font-size: 1rem;
        font-weight: 700;
        color: $moderate-cyan;
      }
    }

    .description {
      font-size: 1rem;
      line-height: 1.7;
      color: $dark-cyan;
      text-align: justify;
    }

    .reward-bottom {
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
      padding-bottom: 10px;

      .left-items {
        display: flex;
        align-items: center;

        h4 {
          font-size: 2rem;
          padding-right: 5px;
        }

        span {
          padding-left: 5px;
          font-size: 1rem;
        }
      }

      button {
        cursor: pointer;
        padding: 12px 25px;
        color: white;
        font-size: 1rem;
        background-color: $moderate-cyan;
        border: none;
        border-radius: 20px;
      }

      button:hover {
        background-color: $dark-cyan;
        transition: background-color 0.5s ease-out;
      }
    }
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

// <!-- DONATE MODAL CONTAINER SECTION -->

// <!-- OVERLAY -->
.modal-overlay {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  // background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  backdrop-filter: blur(3px);
  transition: opacity 0.5s ease;
  opacity: 1;
}

// <!-- MODAL -->

.modal-container {
  margin: 5% auto;
  background-color: white;
  border: 1px solid $border;
  border-radius: 8px;
  width: 70%;
  transition: opacity 0.5s ease;
  opacity: 1;

  .card.selected {
    border: 2px solid hsl(0, 0%, 48%);
  }

  .header-container {
    margin: 15px;

    .header {
      display: flex;
      justify-content: space-between;
      margin: 15px;

      h3 {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 1.6rem;
      }
    }

    p {
      padding-left: 15px;
      padding-bottom: 15px;
      font-size: 1rem;
      color: $dark-gray;
    }
  }

  .card {
    border-radius: 8px;
    border: 1px solid $border;
    margin: 25px;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;

      .top-left {
        display: flex;

        h4 {
          font-size: 1.2rem;
          padding-left: 20px;
        }
      }
      span {
        padding-left: 15px;
        font-size: 1rem;
        color: $moderate-cyan;
      }
      .top-right {
        display: flex;
        align-items: center;

        h4 {
          font-size: 1.6rem;
        }

        span {
          font-size: 1.1rem;
          padding-left: 5px;
        }
      }
    }

    .description-modal {
      padding-left: 50px;
      padding-bottom: 20px;
      padding-right: 20px;
      text-align: justify;
      line-height: 1.7;
      font-size: 1rem;
      color: $dark-gray;
    }

    .bottom-hidden {
      display: none;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      border-top: 1px solid $border;
      font-size: 1.1rem;
      color: $dark-gray;

      .hidden-left {
        padding-left: 20px;
      }

      .hidden-right {
        padding-right: 20px;

        input {
          text-align: center;
          max-width: 100px;
          padding: 10px 10px;
          background-color: transparent;
          border: 1px solid $moderate-cyan;
          border-radius: 25px;
          font-size: 1rem;
          font-weight: 800;
        }

        button {
          cursor: pointer;
          padding: 10px 30px;
          color: white;
          font-size: 1rem;
          background-color: $moderate-cyan;
          border: none;
          border-radius: 20px;
          margin-left: 20px;
        }
      }
    }
  }
}

// <!-- SUCCESS MODAL -->

.success-modal-container {
  position: fixed;
  top: 35%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid $border;
  border-radius: 8px;
  width: 50vw;
  z-index: 2;
  transition: opacity 0.5s ease;
  opacity: 1;

  .icon {
    height: 100px;
    width: 100px;
    background-size: cover;
    margin: 40px;
    background-image: url("../images/icon-check.svg");
  }

  h4 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 25px;
  }

  p {
    line-height: 1.7;
    font-size: 1.2rem;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
  }

  button {
    cursor: pointer;
    font-size: 1.1rem;
    padding: 15px 40px;
    border-radius: 25px;
    border: none;
    margin: 30px;
    color: white;
    background-color: $moderate-cyan;
    margin-bottom: 40px;
  }
}

// <!-- BREAKPOINTS -->

@media screen and (max-width: $mobile-breakpoint) {
  .desktop-menu {
    display: none;
  }

  .hero-section {
    background: url("../images/image-hero-mobile.jpg");
    background-size: cover;

    .nav-section {
      display: flex;
      justify-content: flex-end;
      align-items: start;
      padding-top: 20px;

      .logo {
        margin-left: 20px;
        justify-content: flex-start;
      }

      .menu-btn {
        width: 30px;
        height: 50px;
        padding-right: 40px;
        background: url("../images/icon-hamburger.svg");
        background-repeat: no-repeat;
        z-index: 2;
      }
    }

    .mobile-container {
      display: none;
      justify-content: center;
      align-items: center;
      margin-left: 18px;

      .mobile-menu {
        display: flex;
        z-index: 2;
        height: 200px;
        width: 90vw;
        background-color: white;
        border-radius: 12px;
        margin-top: 50px;
        margin-right: 18px;

        ul {
          list-style-type: none;

          li {
            padding: 20px 0px 20px 15px;
            font-size: 1.1rem;

            a {
              color: black;
              font-weight: 500;
              text-decoration: none;
            }
          }
          li:nth-child(2) {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            border-color: $border;
          }
        }
      }
    }
  }

  .top-container {
    margin-top: 140px;
    width: 85vw;
    background-color: white;

    h3 {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 30px;
      padding: 0px 20px;
    }

    p {
      font-size: 0.8rem;
      text-align: center;
      margin-top: 20px;
      padding: 0px 20px;
      line-height: 1.2rem;
    }

    .btn-container {
      width: 80vw;
      display: flex;
      // justify-content: center;
      margin-top: 10px;

      .back-btn {
        font-size: 0.75rem;
        padding: 12px 45px;
        margin-left: 45px;
      }
      .book-btn {
        background-color: transparent;
        font-size: 0.75rem;
        width: 38px;
        padding: 16px 0px;
        margin-right: 30px;
      }
    }
  }

  .funds-container {
    width: 85vw;

    .columns-container {
      width: 90%;
      display: flex;
      flex-direction: column;

      .column {
        text-align: center;
        margin: 2px;
        flex: 1;
        padding-bottom: 15px;
      }

      .middle {
        width: 40%;
        align-self: center;
        padding-top: 10px;
        padding-bottom: 20px;
        border-top: 1px solid $border;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $border;
      }

      .bottom {
        padding-top: 10px;
      }

      h3 {
        font-size: 1.6rem;
      }
    }
  }
  .main-container {
    width: 85vw;

    .about-section {
      h4 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.85rem;
        line-height: 1.4;
      }
    }
    .reward {
      border: 1px solid $border;
      border-radius: 8px;
      margin: 15px;
      padding: 20px;

      .reward-top {
        flex-direction: column;
        align-items: start;

        h4 {
          padding-bottom: 5px;
        }

        p {
          font-size: 0.8rem;
          font-weight: 500;
        }
      }

      .description {
        font-size: 0.85rem;
        line-height: 1.5;
      }

      p {
        font-size: 0.85rem;
        line-height: 1.4;
        text-align: justify;
      }

      .reward-bottom {
        flex-direction: column;
        .left-items {
          h4 {
            font-size: 1.8rem;
            padding-bottom: 10px;
          }
          span {
            transform: translateY(-50%);
            top: 50%;
          }
        }

        button {
          width: 130px;
          height: 40px;
          font-size: 0.75rem;
          border-radius: 20px;
        }
      }
    }
  }

  .modal-container {
    width: 90vw;
    .header-container {
      p {
        font-size: 0.9rem;
        line-height: 1.5;
      }
    }

    .card {
      .top-left {
        h4 {
          span {
            color: $dark-gray;
          }
        }
      }
      .bottom-hidden {
        flex-direction: column;
        height: 80px;
        padding: 10px 0px 10px 0px;

        .hidden-left {
          p {
            font-size: 0.9rem;
          }
        }
        .hidden-right {
          margin-left: 20px;
          input {
            width: 90px;
            height: 30px;
          }

          button {
            width: 110px;
            height: 30px;
          }
        }
      }
    }
  }
  .success-modal-container {
    top: 25%;
    width: 90vw;
    left: 5%;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .mobile-menu {
    display: none;
  }

  .top-container {
    width: 70vw;
  }

  .funds-container {
    width: 70vw;
  }

  .main-container {
    width: 70vw;
  }
}
